body {
    background-color: #F5EDFF;
    font-family: "Heebo";
}
html::-webkit-scrollbar {
    display: none;
  }
.header {
    font-weight: bold; 
    font-size: xx-large; 
    text-align: center; 
    font-family: 'Fira Sans', sans-serif;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}
.header span {
    position: fixed; 
    color: #424242;
}
.back-icon i{
    position: fixed;
    left: 50px;
    color: #424242;
    font-size: x-large; 
}
.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.details {
    border: 0.5px solid #424242;
    width: 400px;
    margin-left: -150px;
    font-size: 20px;
    z-index: -1;
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 200px;
    padding-right: 20px;
}
.info p{
    color: #424242; 
    padding: 5px;
    line-height: 25px;
}
.info p span {
    color: #424242;
    font-size: 16px;
    font-weight: 300;
}
button {
    font-size: 12px;
    color: #fff;
    background-color: #9568a0;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-top: 50%;
    padding: 10px;
}

@media screen and (max-width:390px) {
    .header {
        padding-top: 80px;
    }
    .back-icon i{
        position: relative;
        padding-top: 10px;
        left: -160px;
    }
    img {
        margin-top: 20px;
        width: 240px;
        height: 240px;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .details {
        padding-left: 30px;
        padding-top: 180px;
        padding-bottom: 20px;
        padding-right: 200px;
        width: 100px;
        margin-top: -150px;
        margin-left: 3px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .info p{
        color: #424242; 
        padding: 1px;
        line-height: 25px;
    }
    .info p span {
        color: #424242;
        font-size: 12px;
        font-weight: 300;
    }
    button {
        font-size: 10px;
        margin-top: 250px;
        margin-left: -85px;
    }
}