
  body {
    font-family: "Heebo";
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    display: none;
  }
.container-fluid {
    height: 100vh;
    background-image: url("../images/BG.png");
    background-size: cover;
  }

.L {
    color: rgba(255,255,255,1);
    position: absolute;
    font-family: Katibeh;
    font-size: 100px;
    opacity: 1;
    padding-left: 62px;
    font-weight: bolder;
   }
   .F {
    color: rgba(255,255,255,1);
    position: absolute;
    font-family: Katibeh;
    padding-left: 103px;
    padding-top: 30px;
    font-size: 100px;
    opacity: 1;
    font-weight: bolder;
   }
  .slogan {
    padding-top: 55px;
    padding-left: 60px;
    color: #ffffff;
    position: absolute;
    opacity: 1;
    text-align: left;
    font-family: serif;
    line-height: 45px;
   }
  .subslogan {
    color: #ffffff;
    position: absolute;
    padding-top: 265px;
    padding-left: 60px;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 35px;
    opacity: 1;
    text-align: left;
  }
  .slogan p {
    font-size: 60px;
  }
  .p > span {
    font-size: 45px;
  }
.CTA {
font-family: 'Heebo';

}

.signing {
    margin-left: 80%;
    margin-top: 40px;
}
.signing a{
    color: white;
    font-size: 15px;
    margin-left: 2%;

}


 /* spinner animation   */
body 
/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

.spinner-box {
    margin-left: 500px;
    margin-top: -50px;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 550px;
  height: 550px;
  border: 2px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
  width: 450px;
  height: 450px;
  border: 2px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
  width: 350px;
  height: 350px;
  border: 2px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
  width: 200px;
  height: 200px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}


/* CTA animation */
  ul, ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  .btn {
    display: inline-block;
    color: #ffffff;
    padding: 32px;
    position: relative;
    letter-spacing: 1px;
  }
  .btn__circle, .btn__text, .btn__white-circle {
    position: absolute;
  }
  .btn__circle {
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    box-shadow: 0 0 1px 1px #fff;
    transition: 0.3s linear;
  }
  .btn__white-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #ffffff;
    display: flex;
    transition: 0.3s ease-in-out;
  }
  .btn__white-circle svg {
    width: 24px;
    height: 24px;
    margin: auto;
  }
  .btn__text {
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 2;
    padding: 24px 8px;
    transition: 0.3s linear;
  }
  .btn:hover .btn__circle {
    transform: scale(0);
  }
  .btn:hover .btn__white-circle {
    transform: translate(-50%, -50%) scale(1);
  }
  .btn:hover .btn__text {
    transform: translate(40px, -50%);
  }
  .content {
    padding-top: 350px;
    padding-left: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media screen and (max-width:390px) {
    .container-fluid {
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        background-size: cover;
      }
    .L {
        font-size: 40px;
        padding-left: 32px;
        padding-top: 15px;
       }
       .F {
        padding-left: 50px;
        padding-top: 25px;
        font-size: 40px;

       }
      .slogan {
        font-size: 50px;
        padding-top: 30px;
        padding-left: 60px;
        line-height: 20px;
       }
       .slogan p {
        font-size: 40px;
      }
      .p > span {
        font-size: 25px;
      }
      .subslogan {
        margin-top: -120px;
        padding-left: 60px;
        font-size: 18px;
        line-height: 25px;
      }

    .signing {
        margin-left: 45%;
    }

    /* spinner animation   */
.spinner-box {
    opacity: 0.4;
    margin-left: 35px;
    margin-top: 110px;
    width: 300px;
    height: 300px;
}

.blue-orbit {
  width: 400px;
  height: 400px;
}

.green-orbit {
  width: 300px;
  height: 300px;
}

.red-orbit {
  width: 200px;
  height: 200px;
}

.white-orbit {
  width: 150px;
  height: 150px;
}

/* CTA animation */
  .content {
    padding-top: 450px;
    padding-left: 50%;
  }
}