*{
    font-style: 'Heebo';
    color: #dadada;
    margin: 0;
}
html::-webkit-scrollbar {
  display: none;
}

#nheader{
  position: fixed;
  top:0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: #2C1D4F;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 29;
}
.hlogo{
  flex: 15%;
  margin-left: 12%;

}
.hlogo img {
  justify-content: center;
  height: 60px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.nmenu{
  float: left;
  display: flex;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nnav-icon{
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;  
}
.nnav-icon span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms;
}
.nnav-icon span:nth-child(1){
  top:0px;
  left: 0px;
}
.nnav-icon span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.nnav-icon span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nnav-icon:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nnav-icon:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nnav-icon:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nnav-icon.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nnav-icon.open span:nth-child(2){
  opacity:0;
}
.nnav-icon.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}

.nmenu-toggle {
  position: relative;
  flex: 10%;
  color: aliceblue;
  padding-top: 15px;
  height: 50px;
  margin-left: 850px;
}

.ndropdown-menu {
  font-family: 'Heebo';
  position: absolute;
  left: -20vh;
  top: 85px;
  width: 90vh;
  height: 50vh;
  margin-left: 10px;
  background-color: rgb(39, 23, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.nmenu-toggle.open .ndropdown-menu {
  opacity: 1;
  visibility: visible;
}

.nmenu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nmenu-items li a:hover{
  color: #9b89c5;
}

.nmenu-items li {
  margin-bottom: 10px;
  margin-left: -260px;
}

.nmenu-items li a {
  color: #e0dede;
  text-decoration: none;
  font-size: 18px;
}

@media screen and (max-width:390px) {
  #nheader{
    height: 90px;
  }
  .hlogo{
    flex: 15%;
    margin-left: 2%;
    padding-bottom: 10px;
  
  }
  .hlogo img {
    height: 30px;
    width: 90px;
  }

  .nmenu-toggle {
    margin-left: 220px;
  }
  .nnav-icon{

    width: 35px;
    height: 30px;
  }
  .nnav-icon span{
    height: 3px;
  }
  .ndropdown-menu {
    left: -20vh;
    top: 70px;
    width: 67vh;
    height: 40vh;
    margin-left: 10px;
  }
}