body {
    background-color: #F5EDFF;
    font-family: "Heebo";
}
html::-webkit-scrollbar {
    display: none;
  }
.header {
    font-weight: bold; 
    font-size: xx-large; 
    text-align: center; 
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #F5EDFF;
    position: fixed;    
    width: 100vw;
}
.header span {
    color: #424242;
}
.back-icon i{
    position: fixed;
    padding-top: -90px;
    left: 50px;
    color: #424242;
    font-size: x-large; 
}
.termsandconditions{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 150px;
}
.termsandconditions ol li, span{
    color: rgb(61, 59, 59);
}
.termsandconditions span {
    font-weight: bold;
}


@media screen and (max-width:390px) {
    .header {
        margin-top: 36px;
        padding-top: 60px;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .back-icon i{
        left: 40px;
        top: 120px;
        font-size: 20px;
    }
    .termsandconditions{
        width: 80%;
        margin-left: 15px;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 13px;
        padding-top: 150px;
    }

}
