.header {
    font-weight: bold; 
    font-size: 32px; 
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
    padding-bottom: 15px;
    width: 100vw;
    position: fixed;
    z-index: 12;
    background-color: #ffffff;
}
html::-webkit-scrollbar {
    display: none;
  }
.contactcontent{
    padding-top: 225px;
}
#nheader {
    height: 120px;
}
.header, span, i, b{
    color: #424242;
}
  .back-icon {
    position: fixed;
    left: 50px;
    color: #424242;
  }
.contact-line, i {
    color: #424242;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    margin-right: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.contact-line {
    display: flex;
    align-items: center;
    padding: 10px;
    opacity: 0.7;
}

.row .fform {
    padding: 15px; 
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row .dcontact {
    margin-left: 250px; 
    margin-top: 30px;
}
.contacttext {
    background-color: #efeeee; 
    color: #424242;
    text-align: center; 
    width: 90%; 
    padding: 20px; 
    font-size: 15px;
    text-align: justify; 
    line-height: 40px;
    margin: 0 auto;
}
.contact-line i {
    margin-left: 15px;
}

@media screen and (max-width:390px) {
    #nheader {
        height: 90px;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row .dcontact {
        margin-left: 40%;
    }
    .row .fform {
        width: 350px;
    }
    .contact-line {
        margin-bottom: -20px;
    }
}