body{
    background: #F4F4F4;
}
html::-webkit-scrollbar {
  display: none;
}
.title {
    margin-left: 9%;
    padding-top: 130px;
    display: flex;
    margin-bottom: -35px;
}

.title p {
    color: black;
    font-size: 45px;
}

.title a {
    color: rgb(151, 149, 149);
    margin-left: 57%;
    padding-top: 20px;
}
.addbutton {
  display: flex;
  margin-left: 72%;
}
button {
    margin-left:20px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    background-color: #2C1D4F;
    border: none;
    border-radius: 10px;
    color: white; 
}
button:hover {
  background-color: white;
}
button:hover b {
  color: #2C1D4F;
}
button a {
    text-decoration: none;
}
button a b {
  
    margin-left: -15px;
    padding-left: 10px;
}
.p1 {
  color: #1c1253;
}
.p1 b{
  font-weight: 500;
}

section {
    padding: 50px 0;
  }
  .container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: -25px;
  }
  .carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }
  .carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
  }
  .carousel__slide figure {
    display: flex;
    margin: 0;
    width: 900px;
    height: 400px;
  }
  .carousel__slide div {
    position: relative;
    width: 100%;
  }
  .carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
  }
  .carousel__slide div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
  }
  .carousel__slide figcaption {
    align-self: flex-end;
    color: black;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    font-size: 15px;
  }
  .carousel__slide figcaption b {
    color: black;
  }
  .carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }
  .carousel__slide.scrollable {
    overflow-y: scroll;
  }
  .carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
  }
  .carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
  }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails label {
    display: block;
    position: relative;
  }
  .carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    height: 50%;
    /* height: 1px; */
    padding-top: 100%;
  }
  .carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
  }
  .carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width:390px) {
    
    .title {
        margin-left: 8%;
        padding-top: 130px;
        display: flex;
    }
    
    .title p {
        font-size: 20px;
        margin: -10px;
    }
    
    .title a {
        font-size: 12px;
        margin-left: 40%;
        margin-top: -20px;
    }
    .addbutton {
      flex-direction: row;
      margin-left:55%;
      width: 100vw;
    }
    button {
      margin-right: 150px;
      margin-left: -100px;
    }
    .carousel__slide figure {
      display: flex;
      margin: 0;
      width: 400px;
      height: 200px;
    }
    .p1{
      font-size: 12px;
    }
    .p1 b{
      font-size: 10px;
    }
}
